*{
    margin: 0;
    padding: 0;
  }

body{
    background-color: #F8F6F2;
}

a{
  text-decoration: none;
}


 /* -----------hero---------------  */
#hero{
    background: url("../Images/hero44.png") ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#hero .hero_content{
  width: 80%;
 margin-top: 5rem; 
}

.country img{
width: 5rem;
}

#hero p{
color: aliceblue;
font-size: 2rem;
font-weight: bolder;
margin-bottom: 1rem;
}

#hero button{
    width: 15rem;
    height: 5rem;
    border-radius: 0.5rem;
    font-size: larger;
    }


  /* -----------card---------------  */
  .showmore{
    width: auto;
    display: flex;
    align-items: start;
 
    }
 
    .showmore .listname{
    background-color: #f0ebe3;;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
    }
              
    .vmore{
     width: 2rem;
     height: 2rem;
    padding: 0.3rem;
    margin-left: 0.5rem;
     }
.mealsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
}

.swapButtons{
border:none ;
}



.mealsContainer button.swapButtons{
  background: none;
   width: 3rem;
   height: 3rem;
   border-radius: 1.5rem;
}

.cardContainer{
    display: flex;
    overflow-x: scroll;
     width: 80%;
    margin-bottom: 1rem;
}

.card{
   min-width: 15rem;
    border: 2px solid black;
    margin: 1rem;
    border-radius: 1rem;
}

.card img{
    width: 100%;
    height: 8rem;
    
}

.cardContent p{
   text-align: center;
}

.cardMain1{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.cardRating{
    display: flex;
}

.cardRating svg{
color: rgb(242, 208, 13);
}


.cardMain2{
display: flex;
align-items: center;
margin: 0.5rem 0;
padding: 0.5rem;
}

.cardMain2 img{
width: 2rem;
height: 2rem;
}

.cardButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid black;
    padding: 0.5rem;
}

.cardButtons button{
padding: 0.25rem;
border-radius: 0.5rem;
}








  /* ---------------all font--------------- */

footer{
  font-size: larger;
}
input{
  font-size: larger;
}
#hero a{
  font-size: larger;
}
h3{
  font-size: larger; 
}



  /* ---------------all hover--------------- */

a:hover{
  color: rgb(40, 89, 163);
  }

button:hover{
  border: 2px solid rgb(16, 16, 16);
  cursor: pointer;
 }
 

 .cardRating img{
  width: 16px;
  height: 16px;
  }


@media (max-width: 900px) {


  #hero{
    background: url("../Images/hero44min.png") ;
    height: 60vh;
}
#hero .hero_content{
  width: 90%;
 margin-top: 2rem; 
}
}


